@use '../../lib/service.scss' as s;

body {
    font-family: 'Roboto', sans-serif;
}

.page {
    font-size: s.size();
    background-color: s.color('bgLight');
}

.column {
    flex-direction: column;
}

.column-page {
    @extend .column;
    align-items: center;
}